.add-catalog {
  padding-top: 27px;
  padding-bottom: 35px;

  overflow-x: hidden;
}

.add-catalog__title {
  .same-fs-lh(24px);
  position: relative;

  width: fit-content;
  margin: 0;
  margin-bottom: 33px;
  padding: 0;

  text-transform: none;
  font-weight: @font-normal;
  color: @link-color;
  text-align: left;
}

.add-catalog__title::before,
.add-catalog__title::after {
  position: absolute;
  content: "";

  width: 100vw;
  height: 3px;

  top: 12px;

  background-color: @brand-color;
}

.add-catalog__title::before {
  right: calc(100% + 39px);
}

.add-catalog__title::after {
  left: calc(100% + 22px);
}

.add-catalog__list {
  text-align: left;
}

.add-catalog__item {
  padding: 14px 0 17px;

  border-top: @border;

  &:last-child {
    border-bottom: @border;
  }
}

.add-catalog__link {
  .link();
}

.add-catalog__name {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
  font-weight: normal;
}

.add-catalog__table {
  width: 100%;
  margin: 9px 0 14px;
  padding: 0;
  font-family: @alt-font;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.add-catalog__td {
  margin: 0;
  padding: 0;
}

.add-catalog__value {
  text-align: right;
}

.add-catalog__call {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin-top: 39px;
  padding: 65px 60px 26px;
  height: 289px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-color: @brand-color;
  background-repeat: no-repeat;
  background-size: auto;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
    background-size: 280px auto;
  }
}

.add-catalog__gift {
  color: @body-color;
}

.add-catalog__call-text {
  font-family: @alt-font;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

@media (min-width: @tablet-width) {
  .add-catalog {
    margin-top: -100px;
    padding-bottom: 77px;
  }

  .add-catalog__title {
    margin-left: 37px;
    margin-bottom: 79px;

    font-size: 36px;
    line-height: 36px;

    &::before,
    &::after {
      top: 21px;
    }

    &::after {
      left: calc(100% + 35px);
    }
  }

  .add-catalog__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 26px 37px 27px;

    border-left: @border;
    border-right: @border;
  }

  .add-catalog__name {
    .same-fs-lh(20px);

    margin-left: 1px;
  }

  .add-catalog__table {
    margin: 0;
    margin-right: -4px;
    padding-top: 4px;
    width: 37%;

    font-size: @font-size-s;
    line-height: @line-height-s;
  }

  .add-catalog__tr {
    display: flex;
    justify-content: space-between;
  }

  .add-catalog__field {
    margin-left: auto;
  }

  .add-catalog__value {
    margin-left: 52px;
  }

  .add-catalog__call {
    flex-direction: row;
    margin-top: 69px;
    padding: 75px 125px 74px 91px;
    height: 200px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    text-align: left;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
      background-size: 708px auto;
    }
  }

  .add-catalog__call-text {
    margin: 0;
    margin-left: 277px;
  }

  .add-catalog__button {
    margin-top: 21px;

    padding-top: 9px;
    padding-bottom: 11px;
  }
}

@media (min-width: @desktop-width) {
  .add-catalog {
    padding-top: 35px;
    padding-bottom: 83px;

    overflow-x: hidden;
  }

  .add-catalog__title {
    margin-left: 0;
    margin-bottom: 79px;
  }

  .add-catalog__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .add-catalog__list {
    width: 74%;
  }

  .add-catalog__item {
    flex-wrap: nowrap;
    align-items: baseline;
    padding: 18px 0 13px;

    border-left: none;
    border-right: none;
  }

  .add-catalog__table {
    margin-left: auto;
    margin-right: 39px;

    width: 32%;
  }

  .add-catalog__field {
    margin: 0;
  }

  .add-catalog__button {
    margin: 0;
    margin-right: 8px;
    width: 245px;
  }

  .add-catalog__call {
    flex-direction: column;
    margin: 0;
    padding: 65px 45px 40px;
    width: 245px;
    height: 289px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    text-align: center;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../../img/gift-photo-desktop@2x.jpg");
      background-size: 245px auto;
    }
  }

  .add-catalog__call-text {
    margin: 0;
    margin-top: 55px;
  }
}
