.advantages {
  text-align: left;
}

.advantages__list {
  .list-reset();
}

.advantages__item {
  margin-bottom: 20px;
  padding: 0 20px;

  background-color: @content-color;

  &:last-child {
    margin-bottom: 0;
  }
}

.advantages__title {
  .medium-title();
  font-weight: @font-normal;

  position: relative;

  padding-top: 30px;
  padding-left: 92px - 22px;

  &::before,
  &::after {
    content: "";
    position: absolute;
  }

  &::before {
    z-index: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &--slim::before {
    width: 35px;
    height: 49px;
    background-image: url("../img/icon-cat-slim.svg");

    top: 23px;
    left: 9px;
  }

  &--pro::before {
    width: 67px;
    height: 28px;
    background-image: url("../img/icon-cat-pro.svg");

    top: 36px;
    left: -10px;
  }

  &::after {
    width: 50px;
    height: 51px;

    border-radius: 50%;
    background-color: @brand-color;

    top: 24px;
    left: 1px;
  }
}

.advantages__text {
  .text();
  margin-top: 30px;
}

.advantages__link {
  .link();
  .same-fs-lh(16px);

  display: block;
  margin-top: 24px;
  padding: 16px 0 22px;
  border-top: @border;

  text-transform: uppercase;

  position: relative;
  color: @link-color;
  outline: none;

  &::after {
    content: "";
    position: absolute;

    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;

    width: 25px;
    height: 12px;

    top: 18px;
    left: 96px;
  }

  &:hover::after {
    width: 34px;
  }

  &:focus,
  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .advantages__item {
    margin-bottom: 34px;
    padding: 75px 56px 60px 52px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .advantages__title {
    font-size: 36px;
    line-height: 37px;
    padding: 0;

    &--slim::before {
      width: 141px;
      height: 194px;

      top: 5px;
      left: 423px;
    }

    &--pro::before {
      width: 268px;
      height: 113px;

      top: 59px;
      left: 360px;
    }

    &::after {
      width: 200px;
      height: 200px;

      top: 17px;
      left: 394px;
    }
  }

  .advantages__text {
    width: 64%;
    margin-top: 26px;
  }

  .advantages__text--pro {
    width: 57%;
  }

  .advantages__link {
    .same-fs-lh(20px);

    margin-top: 54px;
    padding: 0;

    border: none;

    &::after {
      top: 10px;
      left: 131px;
    }
  }
}

@media (min-width: @desktop-width) {
  .advantages__list {
    display: flex;
    justify-content: space-between;

    margin-top: 80px;
  }

  .advantages__item {
    width: 50%;
    margin: 0;
    margin-right: 80px;
    padding: 41px 52px 62px;

    &:last-child {
      margin-right: 0;
    }
  }

  .advantages__title {
    margin-bottom: 75px;
    padding-top: 34px;
    padding-left: 162px;

    &--slim::before {
      width: 71px;
      height: 97px;

      top: 3px;
      left: 16px;
    }

    &--pro::before {
      width: 134px;
      height: 57px;

      top: 28px;
      left: -24px;
    }

    &::after {
      width: 100px;
      height: 100px;

      top: 5px;
      left: 0;
    }
  }

  .advantages__text {
    width: 100%;
  }

  .advantages__link {
    .same-fs-lh(20px);
    margin-top: 30px;

    &::after {
      top: 4px;
      left: 131px;
    }
  }
}
