.catalog-item {
  display: flex;
  flex-wrap: wrap;
}

.catalog-item__img-wrapper {
  width: 140px;
  height: 144px;
}

.catalog-item__desc {
  flex-grow: 1;
  margin-top: 21px;
}

.catalog-item__link {
  .link();
}

.catalog-item__title {
  .low-title();
  width: 74px;
}

.catalog-item__table {
  .alt-text();

  width: 100%;

  margin-top: 11px;

  text-align: left;
  color: @text-color;
}

.catalog-item__table tr {
  margin: 0;
  padding: 0;
}

.catalog-item__table td {
  margin: 0;
  padding: 0;
}

.catalog-item__value {
  text-align: right;
}

.catalog-item__order {
  .button();
  font-size: 14px;
  line-height: 18px;

  width: 100%;
  margin: 0 auto;
  padding: 11px 0;
}

@media (min-width: @tablet-width) {
  .catalog-item {
    flex-direction: column;

    background-color: @content-color;
    border: none;

    position: relative;
  }

  .catalog-item__img-wrapper {
    position: absolute;
    bottom: 280px;
    left: 50%;
  }

  .catalog-item__img-wrapper--small {
    width: 161px;
    height: 172px;
    margin-left: -161px / 2;
  }

  .catalog-item__img-wrapper--big {
    width: 195px;
    height: 208px;
    margin-left: -195px / 2;
  }

  .catalog-item__desc {
    margin-top: 0;
  }

  .catalog-item__title {
    .same-fs-lh(20px);

    width: 130px;
    margin: 0 auto;

    text-align: center;
  }

  .catalog-item__table {
    .same-fs-lh(16px);
    font-family: @alt-font;
    text-transform: none;

    margin-top: 20px;

    border-collapse: collapse;
  }

  .catalog-item__table tr {
    border-bottom: @border;
  }

  .catalog-item__table td {
    padding: 7px 0;
  }

  .catalog-item__order {
    .low-title();
    text-align: center;
    color: @body-color;

    padding-top: 13px;
    padding-bottom: 8px;
    margin-top: 33px;
  }
}
