.catalog-item {
  display: flex;
  flex-wrap: wrap;
}

.catalog-item__img-wrapper {
  height: 144px;
}

.catalog-item__desc {
  flex-grow: 1;
  margin-top: 21px;
}

.catalog-item__link {
  .link();
}

.catalog-item__title {
  .low-title();
  width: 74px;
}

.catalog-item__table {
  .alt-text();

  width: 100%;

  margin-top: 11px;

  text-align: left;
  color: @text-color;
}

.catalog-item__tr,
.catalog-item__td {
  margin: 0;
  padding: 0;
}

.catalog-item__value {
  text-align: right;
}

@media (min-width: @tablet-width) {
  .catalog-item {
    flex-direction: column;

    background-color: @content-color;
    border: none;

    position: relative;
  }

  .catalog-item__img-wrapper {
    position: absolute;
    bottom: 299px;
    left: 50%;
    height: auto;
  }

  .catalog-item__img-wrapper--small {
    width: 161px * 2;
    margin-left: -161px;
    top: -46px;
  }

  .catalog-item__img-wrapper--big {
    width: 195px * 2;
    margin-left: -195px;
    top: -83px;
  }

  .catalog-item__desc {
    margin-top: 0;
  }

  .catalog-item__title {
    width: 130px;
    margin: 0 auto;

    text-align: center;
  }

  .catalog-item__table {
    font-family: @alt-font;
    text-transform: none;

    margin-top: 20px;

    border-collapse: collapse;
  }

  .catalog-item__tr {
    border-bottom: @border;
  }

  .catalog-item__td {
    padding: 7px 0;
  }

  .catalog-item__order {
    margin-top: 33px;
  }
}
