.copyright {
  padding-top: 20px;
}

.copyright__logo {
  .link();

  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;

  &:hover .copyright__logo-image-wrapper {
    color: @brand-color;
  }

  &:focus .copyright__logo-text,
  &:focus .copyright__logo-image-wrapper {
    opacity: 0.3;
  }

  &:focus .copyright__logo-image-wrapper {
    color: @brand-color;
  }
}

.copyright__logo-text {
  .same-fs-lh(16px);
  text-transform: none;

  font-family: @alt-font;
  color: @text-color;
}

.copyright__logo-image-wrapper {
  width: 27px;
  height: 34px;
  color: @social-color;
}

.copyright__logo-image {
  height: inherit;
}

@media (min-width: @tablet-width) {
  .copyright {
    padding: 0;
  }

  .copyright__logo-image {
    margin-left: 23px;
  }
}
