.copyright__logo {
  .link();

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__logo-text {
  .same-fs-lh(16px);

  font-family: @alt-font;
  color: @text-color;
}

@media (min-width: @tablet-width) {
  .copyright__logo-image {
    margin-left: 23px;
  }
}
