.footer {
  background-color: @content-color;
}

.footer__wrapper {
  padding-top: 34px;
  padding-bottom: 26px;
}

.footer__logo {
  display: block;
  margin-left: 76px;
  margin-bottom: 31px;

  width: 128px;
  height: 24px;
}

.footer__logo-image {
  &:hover {
    opacity: 0.8;
  }
}

.footer__list {
  .list-reset();
}

@media (min-width: @tablet-width) {
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 55px;
    padding-bottom: 60px;
  }

  .footer__logo {
    margin: 0;
  }
}
