.footer {
  background-color: @content-color;
}

.footer__wrapper {
  padding-top: 39px;
  padding-bottom: 23px;
}

.footer__logo {
  display: block;
  margin-left: 76px;
  margin-bottom: 31px;

  width: 128px;
  height: 24px;
  outline: none;

  &:hover {
    opacity: 0.8;
  }

  &:focus,
  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 53px 53px 56px 31px;
  }

  .footer__logo {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .footer__wrapper {
    padding: 61px 63px 55px 40px;
  }
}
