.guide {
  text-align: left;
}

.guide__title {
  .main-title();

  margin-bottom: 24px;
}

.guide__list {
  .list-reset();
}

.guide__item {
  .text();
  position: relative;

  margin-bottom: 21px;
  padding-top: 5px;
  padding-left: 80px;

  &::before {
    content: "";
    position: absolute;

    width: 60px;
    height: 60px;

    background-color: @brand-color;
    background-repeat: no-repeat;
    background-position: center;

    top: 3px;
    left: 0;
  }

  &--leaf::before {
    background-image: url("../img/advantage-leaf@1x.png");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
      background-size: 50px auto;
    }
  }

  &--powder::before {
    background-image: url("../img/advantage-powder@1x.png");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
      background-size: 50px auto;
    }
  }

  &--dining::before {
    background-image: url("../img/advantage-dining@1x.png");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
      background-size: 50px auto;
    }
  }

  &--clock::before {
    background-image: url("../img/advantage-clock@1x.png ");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
      background-size: 50px auto;
    }
  }
}

@media (min-width: @tablet-width) {
  .guide {
    margin-top: 42px;
  }

  .guide__wrapper {
    padding-left: 32px;
    padding-right: 114px;
  }

  .guide__title {
    text-transform: none;
    margin-bottom: 69px;
  }

  .guide__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .guide__item {
    width: 38%;
    margin-bottom: 80px;
    padding: 116px 0 48px;

    &::before {
      width: 80px;
      height: 80px;
    }

    &::after {
      position: absolute;

      font-family: @alt-font;
      font-size: 250px;
      font-weight: 400;
      line-height: 1;

      top: -30px;
      right: 0;

      color: @content-color;

      z-index: -1;
    }

    &--leaf::after {
      content: "1";
    }

    &--powder::after {
      content: "2";
    }

    &--dining::after {
      content: "3";
    }

    &--clock::after {
      content: "4";
    }
  }
}

@media (min-width: @desktop-width) {
  .guide {
    margin-top: 53px;
  }

  .guide__item {
    width: 21%;
    margin-bottom: 0;
  }

  .guide__wrapper {
    padding: 0 @desktop-padding;
  }

  .guide__title {
    margin-left: 0;
  }
}
