.header .header__nav {
  display: none;
}

.header--nojs .header__toggle-nav {
  display: none;
}

.header--nojs .header__nav {
  display: block;
}

.header--nojs .header__wrapper {
  padding-bottom: 0;
}

.header--opened .header__toggle-nav {
  width: 19px;
  background-image: url("../img/icon-close.svg");
}

.header--opened .header__nav {
  display: block;
}

.header--opened .header__wrapper {
  padding-bottom: 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  padding-top: 13px;
  padding-bottom: 18px;
}

.header__logo {
  display: block;

  width: 191px;
  height: 39px;

  &:focus {
    opacity: 0.6;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header__logo-img {
  cursor: pointer;
}

.header__toggle-nav {
  width: 25px;
  margin-top: 5px;

  background-color: @body-color;
  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  border: none;
  cursor: pointer;
}

.header__nav {
  margin-top: 15px;
}

@media (min-width: @tablet-width) {
  .header__wrapper {
    padding-top: 23px;
  }

  .header__logo {
    width: 174px;
    height: 59px;
  }

  .header__toggle-nav {
    display: none;
  }

  .header .header__nav {
    display: block;
    margin-top: 0;
  }
}

@media (min-width: @desktop-width) {
  .header {
    position: relative;
    z-index: 1;
  }

  .header__wrapper {
    padding-top: 53px;
  }

  .header__logo {
    width: 203px;
  }
}
