.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 320px;
  padding: 0 20px;

  &__nav {
    display: none;
  }

  &__toggle-nav {
    background: url("../../img/icon-mobile-menu.svg") no-repeat center;
    align-self: stretch;
    border: none;
    outline: none;
  }
}
