.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__logo {
  display: block;
  width: 191px;
  height: 39px;

  background-image: url(../img/logo-mobile.svg);
}

.header__toggle-nav {
  background-color: @body-color;
  background-image: url("../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: none;
}
