.main-desc {
  margin-bottom: 22px;
}

.main-desc__text {
  padding: 29px 15px 167px;
  position: relative;

  background-color: @brand-color;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;

  color: @body-color;

  &::after {
    content: "";
    position: absolute;

    background-image: url("../img/index-can-mobile@1x.png");
    background-position: center;
    background-repeat: no-repeat;

    width: 280px;
    height: 270px;

    left: 50%;
    top: 168px;

    margin-left: -280px / 2;
  }
}

.main-desc__title {
  .same-fs-lh(36px);

  text-transform: none;
}

.main-desc__slogan {
  .same-fs-lh(14px);

  margin-top: 19px;
}

.main-desc__button {
  .button();

  margin: 135px 20px 0;
  padding: 14px 0 11px;
}

@media (min-width: @tablet-width) {
  .main-desc {
    margin-bottom: 0;
  }

  .main-desc__wrapper {
    padding: 61px 238px 529px 120px - 30px;

    background-image: url("../img/index-can-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
  }

  .main-desc__text {
    padding: 0;

    background: none;
    text-align: left;
    color: @link-color;

    &::after {
      content: none;
    }
  }

  .main-desc__title {
    .same-fs-lh(60px);
    text-transform: none;

    margin-bottom: 33px;
  }

  .main-desc__slogan {
    .same-fs-lh(20px);
  }

  .main-desc__button {
    width: 245px;

    margin: 0;
    margin-top: 48px;
  }
}

@media (min-width: @desktop-width) {
  .main-desc {
    margin-top: -60px - 53px;

    background-image: url("../img/index-can-desktop@1x.png"), url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 70% 142px, right 0;
  }

  .main-desc__wrapper {
    padding: 226px 500px 188px 193px;
    background-image: none;
  }

  .main-desc__button {
    .same-fs-lh(20px);
    padding: 17px 27px;

    margin-top: 53px;
  }
}
