.main__title-text {
  .main-title();
}

@media (min-width: @tablet-width) {
  .main__title {
    margin-top: 65px;
    margin-bottom: 156px;
    text-align: left;
    text-transform: none;
  }

  .main__title-text {
    .same-fs-lh(60px);
    text-transform: none;
  }
}

@media (min-width: @desktop-width) {
  .main__title {
    margin-top: 83px;
  }
}
