.main-catalog__item {
  margin: 0 -20px;
  padding: 0 20px;
  padding-bottom: 24px;
  border-top: @border;

  &:last-child {
    border-bottom: @border;
  }
}

@media (min-width: @tablet-width) {
  .main-catalog__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 137px;
    overflow-x: hidden;
  }

  .main-catalog__item {
    width: 324px;
    margin: 0;
    margin-bottom: 140px;
    padding: 165px 37px 38px 38px;
  }
}

@media (min-width: @desktop-width) {
  .main-catalog__wrapper {
    padding-top: 137px;
  }

  .main-catalog__item {
    width: 245px;
    margin-bottom: 140px;
  }
}
