.main__title {
  .main-title();

  margin: 31px auto 0;
}

@media (min-width: @tablet-width) {
  .main__title {
    .same-fs-lh(60px);

    margin: 65px 33px 156px;

    text-align: left;
    text-transform: none;
  }
}

@media (min-width: @desktop-width) {
  .main__title {
    margin: 83px 110px 156px;
  }
}
