.main__title {
  padding-top: 15px;
  padding-bottom: 28px;
}

.main__title-text {
  .main-title();
  text-align: left;
}

@media (min-width: @tablet-width) {
  .main__title {
    padding-top: 59px;
  }

  .main__title-text {
    .same-fs-lh(60px);
    text-transform: none;
  }
}

@media (min-width: @desktop-width) {
  .main__title {
    padding-top: 76px;
  }
}
