.more-catalog {
  padding-top: 77px;
}

.more-catalog__bold {
  .low-title();
  position: relative;
  padding-top: 51px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-plus-mobile.svg");

    width: 31px;
    height: 31px;

    top: 0;
    left: 50%;

    margin-left: -31px / 2;
  }
}

.more-catalog__text {
  .alt-text();

  margin-top: 6px;
  margin-bottom: 18px;
}

.more-catalog__button {
  .button();
  .link();

  display: block;
  padding-top: 13px;
  padding-bottom: 12px;

  text-align: center;
  color: @text-color;
  background-color: @content-color;

  &:hover {
    background-color: #ebebeb;
  }
}

@media (min-width: @tablet-width) {
  .more-catalog {
    margin-top: 0;
    padding-top: 165px;

    border: @border;
  }

  .more-catalog__bold {
    display: block;
    margin: 0 50px;
    text-align: center;

    &::before {
      background-image: url("../img/icon-plus.svg");

      width: 61px;
      height: 61px;

      top: -50px - 38px;
      left: 50%;

      margin-left: -61px / 2;
    }
  }

  .more-catalog__text {
    display: block;

    margin: 0 30px;
    margin-top: 28px;
  }

  .more-catalog__button {
    margin-top: 85px;
  }
}

@media (min-width: @desktop-width) {
  .more-catalog {
    border: 1px solid @content-color;
  }

  .more-catalog__bold {
    margin: 0;
  }

  .more-catalog__text {
    margin: 0;
    margin-top: 28px;
  }
}
