.social {
  padding: 23px 0 20px;

  border-top: @border;
  border-bottom: @border;
}

.social__list {
  .list-reset();

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin-right: 25px;
}

.social__link {
  .link();
  display: block;
  position: relative;
  color: @social-color;
  outline: none;

  &--vkontakte {
    width: 22px;
    height: 12px;
  }

  &--instagram {
    width: 17px;
    height: 17px;

    margin-left: 36px;
    margin-right: 40px;
  }

  &--facebook {
    width: 10px;
    height: 19px;
  }

  &:hover {
    color: @brand-color;
  }

  &:focus,
  &:active {
    color: @brand-color;
    opacity: 0.3;
  }
}

.social__link-icon {
  position: absolute;
  height: inherit;
}

@media (min-width: @tablet-width) {
  .social {
    margin: 0;
    padding: 0;

    border: none;
  }

  .social__list {
    margin: 0;
  }

  .social__link {
    &--vkontakte {
      width: 30px;
      height: 16px;
    }

    &--instagram {
      width: 23px;
      height: 23px;

      margin-left: 28px;
      margin-right: 29px;
    }

    &--facebook {
      width: 14px;
      height: 28px;
    }
  }

  .social__link-icon {
    width: 100%;
  }
}
