// Глобальные стили

html {
  box-sizing: border-box;
  background-color: aqua;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  padding: 0;

  width: 320px;

  font-family: @main-font;
  text-align: center;

  color: @text-color;
  background-color: @body-color;
}

img {
  max-width: 100%;
  height: auto;
}
