.marg-padd-reset() {
  margin: 0;
  padding: 0;
}

.button() {
  display: block;

  font-size: @font-size-s;
  line-height: @line-height-l;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;

  background-color: @brand-color;
  color: @body-color;

  cursor: pointer;

  &:hover {
    background-color: #5eaa2f;
  }
}

.h-button() {
  display: block;

  font-size: @font-size-xs;
  line-height: @line-height-m;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;

  background-color: @brand-color;
  color: @body-color;

  cursor: pointer;

  &:hover {
    background-color: #5eaa2f;
  }

  @media (min-width: @tablet-width) {
    .same-fs-lh(20px);
  }
}

.link() {
  text-decoration: none;
}

.list-reset() {
  .marg-padd-reset();
  list-style: none;
}

.main-title() {
  .marg-padd-reset();

  font-size: @font-size-xxl;
  line-height: @line-height-xh;
  font-weight: @font-normal;

  @media (min-width: @tablet-width) {
    font-size: @font-size-xh;
  }
}

.medium-title() {
  .marg-padd-reset();

  font-size: @font-size-xl;
  line-height: @line-height-h;
  font-weight: @font-bold;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: @font-size-xxl;
  }
}

.low-title() {
  .marg-padd-reset();

  font-size: @font-size-s;
  line-height: @line-height-l;
  font-weight: @font-normal;

  text-transform: uppercase;
  text-align: left;

  color: @link-color;

  @media (min-width: @tablet-width) {
    .same-fs-lh(20px);
  }
}

.nav-title() {
  .same-fs-lh(20px);
  font-weight: @font-bold;
  color: @link-color;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: @font-size-m;
    line-height: @line-height-alt;
  }

  @media (min-width: @desktop-width) {
    font-size: @font-size-l;
  }
}

.same-fs-lh(@px) {
  .marg-padd-reset();

  font-size: @px;
  line-height: @px;
  font-weight: @font-normal;
}

.text() {
  font-family: @alt-font;
  font-size: @font-size-xs;
  line-height: @line-height-m;

  @media (min-width: @tablet-width) {
    font-size: @font-size-s;
    line-height: @line-height-xl;
  }
}

.alt-text() {
  font-family: @alt-font;
  font-size: @font-size-xxs;
  line-height: @line-height-s;

  @media (min-width: @tablet-width) {
    font-size: @font-size-s;
  }
}

.cta-text() {
  font-size: @font-size-s;
  line-height: @line-height-l;
  text-transform: uppercase;
  color: @link-color;

  @media (min-width: @tablet-width) {
    font-size: @font-size-l;
    line-height: @line-height-alt;
  }
}

.address() {
  font-family: @alt-font;
  font-size: @font-size-xs;
  line-height: @line-height-l;
  color: @text-color;

  @media (min-width: @tablet-width) {
    font-size: @font-size-s;
    line-height: @line-height-l;
  }
}
