@main-font: "Oswald", "Аrial", sans-serif;
@alt-font: "Arial", sans-serif;

@brand-color: #68b738;
@text-color: #444444;
@body-color: #ffffff;
@content-color: #f2f2f2;
@link-color: #111111;
@alt-color: #222222;

@border: 1px solid #cdcdcd;

@font-normal: 400;
@font-bold: 500;

@heading-h-lh: 60px;
@heading-h-fs: 36px;
@heading-m-fs: 24px;
@heading-m-lh: 37px;
@heading-l-fs: 16px;
@heading-l-lh: 20px;

@heading-h-fs-desktop: 36px;
@heading-h-lh-desktop: 37px;

@text-fs: 14px;
@text-lh: 18px;
@text-l-fs: 12px;
@text-l-lh: 16px;

@nav-fs-tablet: 18px;
@nav-lh-tablet: 25px;

@nav-fs-desktop: 20px;
@nav-lh-desktop: 25px;

@text-l-fs-tablet: 16px;

@mobile-width: 320px;
@mobile-padding: 20px;

@tablet-width: 768px;
@tablet-padding: 30px;

@desktop-width: 1440px;
@desktop-padding: 110px;
