@main-font: "Oswald", "Аrial", sans-serif;
@alt-font: "Arial", sans-serif;

@brand-color: #68b738;
@text-color: #444444;
@body-color: #ffffff;
@content-color: #f2f2f2;
@link-color: #111111;
@alt-color: #222222;

@hover-btn-color: #5eaa2f;
@hover-alt-btn-color: #ebebeb;

@border: 1px solid #cdcdcd;

@font-normal: 400;
@font-bold: 500;

@font-size-xxs: 12px;
@line-height-xxs: 12px;

@font-size-xs: 14px;
@line-height-xs: 14px;

@font-size-s: 16px;
@line-height-s: 16px;

@font-size-m: 18px;
@line-height-m: 18px;

@font-size-l: 20px;
@line-height-l: 20px;

@font-size-xl: 24px;
@line-height-xl: 24px;

@line-height-alt: 25px;

@font-size-alt: 30px;

@font-size-xxl: 36px;
@line-height-xxl: 36px;

@font-size-h: 37px;
@line-height-h: 37px;

@font-size-xh: 60px;
@line-height-xh: 60px;

@mobile-width: 320px;
@mobile-padding: 20px;

@tablet-width: 768px;
@tablet-padding: 30px;

@desktop-width: 1440px;
@desktop-padding: 110px;

@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
